* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-customcolor-orange {
  background-color: #FF8400;
}

.custom-description-text {
    line-height: 2;
    white-space: pre-wrap;
}

.custom-section-description {
    width: 100%;
    display: inline-flex;
    max-width: 396px;
}

.custom-main-description {
    width: 100%;
    padding: 40px 10px 40px 0px;
    text-align: left; display: inline;
}

.custom-span-description {
    font-family: 'Nunito Sans', sans-serif; 
    font-size: 18px;
}

.custom-p-line {
    line-height: 2;
}	

.custom-text-button {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: normal;
}	

.custom-bg-gray {
    background-color: #3D3A36;
}

@media (max-width: 500px) {
    #custom-value {
        font-size: 3.75rem !important;
        line-height: 1 !important;
    }

    #accordion {
        padding: 1rem !important;
    }

    #cards { 
        width: 90%;
        margin: 10px auto;
        padding: 25px;
    }

    #cards img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
    }

    #cards p {
        font-size: 14px;
        line-height: 1.4;
    }

    #cards span {
        font-size: 14px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;900&display=swap');